{% extends 'base.html.twig' %}

{% block title %}
{{ serie.name }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="serie-details">
    <div>
        <img src="{{ asset("img/posters/series/" ~ serie.poster) }}" alt="{{ serie.name }}">
    </div>
        <div class="serie-details-infos">
            <h2>{{ serie.name }}</h2>
            <div>User ratings : {{ serie.vote }}</div>
            <div>Categorized in: {{ serie.genres }}</div>
            <div>Serie status: {{ serie.status }}</div>
            <div>Aired from {{ serie.firstAirDate | date("Y-m-d") }} to {{ serie.lastAirDate | date("Y-m-d") }}</div>
            <div>{{ serie.overview | nl2br }}</div>

            <section class="seasons">
                <h3>Seasons</h3>
                {% for season in serie.seasons %}
                    <article>
                        <img src="{{ asset("img/posters/seasons/" ~ season.poster) }}" alt="{{ serie.name }} season #{{ season.number }}">
                        <div>
                            <h4>Season {{ season.number }}</h4>
                            {% if season.overview %}
                                <div>{{ season.overview }}</div>
                            {% endif %}
                        </div>
                    </article>
                {% endfor %}
            </section>
        </div>

    </div>


{% endblock %}

{% block extrastyles %}
    <style>
        body {
            background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url("{{ asset('img/backdrops/' ~ serie.backdrop) }}");
        }
    </style>
{% endblock %}

